<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Beam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Beam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <Beam.Properties.Settings>
            <setting name="conKey" serializeAs="String">
                <value>dhbxwDam7s2lhA6Yr2RPOElxR</value>
            </setting>
            <setting name="conSec" serializeAs="String">
                <value>eyHkkxac0eVNwUc0BkUK6v5makTtAchDZhV6C9l79i1K9xWIro</value>
            </setting>
        </Beam.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Beam.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value/>
            </setting>
            <setting name="tokenSec" serializeAs="String">
                <value/>
            </setting>
        </Beam.Properties.Settings>
    </userSettings>
</configuration>
